<div class="home-module-wrapper">
  <div class="home-module home-full-width-banner">

    <div class="full-width-img" style="background-image: url({{ 'home-full-width-banner-image.jpg' | asset_url }});">
<!--       <img src="{{ 'home-full-width-banner-image.jpg' | asset_url }}" title="Full width banner"/> -->
      <div class="banner-text">
        {% if settings.home-full-width-banner-title %}
          <h2>{{settings.home-full-width-banner-title}}</h2>
        {% endif %}
        {% if settings.home-full-width-banner-text %}
        <p>{{settings.home-full-width-banner-text}}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
