<div class="product-module-wrapper">
  <div class="product-module product-bottom-banner">

    <div class="full-width-img" style="background-image: url({{ 'product-bereit-fuer-mehr-leichtigkeit-image.jpg' | asset_url }});">
<!--       <img src="{{ 'product-bereit-fuer-mehr-leichtigkeit-image.jpg' | asset_url }}" title="Full width banner"/> -->
      <div class="banner-text">
        {% if settings.product-bereit-fuer-mehr-leichtigkeit-title %}
          <h2>{{ settings.product-bereit-fuer-mehr-leichtigkeit-title }}</h2>
        {% endif %}
      	<a class="button primary" href="/products/happy-strappy-fingerhalter">{{ settings.product-bereit-fuer-mehr-leichtigkeit-cta }}</a>
      </div>
    </div>
  </div>
</div>
